<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
	<soap:Header xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
	</soap:Header>
	<soapenv:Body>
		<tns:doCreditAccountRq xmlns:ns2="http://itau.com.co/commoncannonical/v3/schemas" 
			xmlns="http://itau.com.co/services/accounts/creditaccount/v1/schemas" 
			xmlns:ns1="http://itau.com.co/services/transfers/creditcardxfer/v1/definitions" 
			xmlns:ns4="http://itau.com.co/commoncannonical/v2/schemas" 
			xmlns:ns3="http://itau.com.co/services/accounts/creditaccount/v1/definitions" 
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
			xmlns:tns="http://itau.com.co/services/accounts/creditaccount/v1/schemas">
			<tns:HeaderRequest>
				<ns4:MessageHeader>
					<ns4:MessageKey>
						<ns4:requestUUID>$!{headers.requestUUID}</ns4:requestUUID>
					</ns4:MessageKey>
					<ns4:MessageInfo>
						<ns4:dateTime>$!{headers.dateTime}</ns4:dateTime>
						<ns4:systemId>$!{headers.systemId}</ns4:systemId>
						<ns4:originatorName>$!{headers.originatorName}</ns4:originatorName>
						<ns4:originatorType>$!{headers.originatorType}</ns4:originatorType>
						<ns4:terminalId>$!{headers.terminalId}</ns4:terminalId>
					</ns4:MessageInfo>
				</ns4:MessageHeader>
			</tns:HeaderRequest>
			<tns:AccounRecord>
				<tns:acctType>$!{headers.acctType}</tns:acctType>
				<tns:acctId>$!{headers.acct_id}</tns:acctId>
				<tns:PaidCurAmt>
					<ns4:amt>$!{headers.amt}</ns4:amt>
					<ns4:curCode>$!{headers.curCode}</ns4:curCode>
				</tns:PaidCurAmt>
				<tns:chargeCode>$!{headers.chargeCode}</tns:chargeCode>
				<tns:trnCategory>$!{headers.trnCategory}</tns:trnCategory>
				<tns:desc>$!{headers.desc}</tns:desc>
				<tns:branchId>$!{headers.branchId}</tns:branchId>
			</tns:AccounRecord>
		</tns:doCreditAccountRq>
	</soapenv:Body>
</soapenv:Envelope>