<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:sch="http://itau.com.co/services/accounts/creditaccount/v1/schemas" xmlns:sch1="http://itau.com.co/commoncannonical/v2/schemas">
   <soapenv:Header/>
   <soapenv:Body>
      <sch:doCreditAccountRevRs>
         <sch:HeaderResponse>
            <sch1:MessageHeader>
               <sch1:MessageKey>
                  <sch1:integrationId>1</sch1:integrationId>
                  <sch1:requestVersion>1</sch1:requestVersion>
                  <sch1:requestUUID>68f1950f-a92b-4f03-b831-cabe7f88f214</sch1:requestUUID>
               </sch1:MessageKey>
               <sch1:MessageInfo>
                  <sch1:dateTime>2020-01-23T12:27:29</sch1:dateTime>
                  <sch1:systemId>ITAU</sch1:systemId>
                  <sch1:originatorName>App Unica</sch1:originatorName>
                  <sch1:originatorType>141</sch1:originatorType>
                  <sch1:terminalId>172.22.153.80</sch1:terminalId>
                  <sch1:terminalType>1</sch1:terminalType>
                  <sch1:bankIdType>1</sch1:bankIdType>
                  <sch1:bankId>1</sch1:bankId>
                  <sch1:trnType>1</sch1:trnType>
               </sch1:MessageInfo>
               <sch1:TrnInfoList>
                  <sch1:TrnInfo>
                     <sch1:trnCode>1431476517</sch1:trnCode>
                     <sch1:trnSrc>0020_TrnCode</sch1:trnSrc>
                  </sch1:TrnInfo>
               </sch1:TrnInfoList>
            </sch1:MessageHeader>
            <sch1:Status>
               <sch1:statusCode>000</sch1:statusCode>
               <sch1:serverStatusCode>0</sch1:serverStatusCode>
               <sch1:severity>Info</sch1:severity>
               <sch1:statusDesc>0</sch1:statusDesc>
            </sch1:Status>
         </sch:HeaderResponse>
      </sch:doCreditAccountRevRs>
   </soapenv:Body>
</soapenv:Envelope>