<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <soapenv:Body>
      <evaluarRiesgoTransaccionResponse xmlns="http://ws.autenticacionadaptativa.intersoft.com.co">
         <evaluarRiesgoTransaccionReturn>
            <OTP>NOT_DEFINED</OTP>
            <deviceCookie>PMV57qVi8UDAO1HaHi697Tw%2BIKWveUP3z8nUR%2FUiIKVVjablkMxapNFQNpjQU6So5OXcT2Hx2uS5ckhLabV6BeIIU%2F%2BQ%3D%3D</deviceCookie>
            <estadoCliente>Activo</estadoCliente>
            <genericResponse>
               <codigoError>00</codigoError>
               <descripcion>Consulta de Riesgo Exitosa</descripcion>
            </genericResponse>
            <preguntas>
               <preguntas>
                  <codigo>Q3.31</codigo>
                  <respuesta xsi:nil="true"/>
                  <texto>¿Qué deporte te gusta seguir?</texto>
                  <tipo xsi:nil="true"/>
               </preguntas>
            </preguntas>
            <recomendedActionAA>Reto-Respuesta</recomendedActionAA>
            <sessionId>-5fbe47df:16fc3e3c858:-75af</sessionId>
            <transactionId>TRX_-5fbe47df:16fc3e3c858:-75ae</transactionId>
         </evaluarRiesgoTransaccionReturn>
      </evaluarRiesgoTransaccionResponse>
   </soapenv:Body>
</soapenv:Envelope>